In [807]:
import pandas as pd

In [808]:
import numpy as np

In [809]:
data=pd.read_csv("train.csv")

In [810]:
print ("Main Data has {} Records with {} Attributes".format(len(main_data),len(main_data.columns)))

Main Data has 1460 Records with 81 Attributes

In [811]:
data.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [812]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [813]:
def train_test_split_formatted_method(data,ratio):
    if ratio>1:
        print ("Ratio must be in format of 0.xx")
        return;
    shuffled_indices=np.random.permutation(len(data))
    print ("Indices Shuffled..")
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled_indices[:test_set_size]
    train_indices=shuffled_indices[test_set_size:]
    
    return data.iloc[train_indices],data.iloc[test_indices]

In [814]:
# train_data,test_data=train_test_split_formatted_method(main_data,0.2)

In [815]:
# print ("Train Data Size {} \nTest Data Size {}".format(len(train_data),len(test_data)))

In [816]:
main_data_labels=data['SalePrice']
data.drop('SalePrice',axis=1,inplace=True)

In [817]:
High_Correlation_Columns=set()
for i in data.columns:
    for j in data.columns:
        if data[i].dtype in ['int64','float64'] and data[j].dtype in ['int64','float64']:
            cor=data[i].corr(data[j])
            if cor >= 0.65 and cor<0.999:
                print ("Column {} and {}".format(i,j))
                High_Correlation_Columns.add(i)
                High_Correlation_Columns.add(j)

Column YearBuilt and GarageYrBlt
Column TotalBsmtSF and 1stFlrSF
Column 1stFlrSF and TotalBsmtSF
Column 2ndFlrSF and GrLivArea
Column GrLivArea and 2ndFlrSF
Column GrLivArea and TotRmsAbvGrd
Column BedroomAbvGr and TotRmsAbvGrd
Column TotRmsAbvGrd and GrLivArea
Column TotRmsAbvGrd and BedroomAbvGr
Column GarageYrBlt and YearBuilt
Column GarageCars and GarageArea
Column GarageArea and GarageCars

In [818]:
len(High_Correlation_Columns)

10

In [819]:
exp_data=data[list(High_Correlation_Columns)]

In [820]:
exp_data.head()

,TotalBsmtSF,GarageArea,1stFlrSF,GarageYrBlt,2ndFlrSF,YearBuilt,GrLivArea,BedroomAbvGr,GarageCars,TotRmsAbvGrd
0,856,548,856,2003.0,854,2003,1710,3,2,8
1,1262,460,1262,1976.0,0,1976,1262,3,2,6
2,920,608,920,2001.0,866,2001,1786,3,2,6
3,756,642,961,1998.0,756,1915,1717,3,3,7
4,1145,836,1145,2000.0,1053,2000,2198,4,3,9

In [821]:
exp_data.isnull().sum()

TotalBsmtSF      0
GarageArea       0
1stFlrSF         0
GarageYrBlt     81
2ndFlrSF         0
YearBuilt        0
GrLivArea        0
BedroomAbvGr     0
GarageCars       0
TotRmsAbvGrd     0
dtype: int64

In [822]:
exp_data.GarageYrBlt.mean()

1978.5061638868744

In [823]:
exp_data['GarageYrBlt'].fillna(exp_data['GarageYrBlt'].mean(),inplace=True)

for i , j in zip (exp_data.columns,exp_data.isnull().sum()):
    if j>0:
        exp_data[i].fillna(exp_data[i].mean(),inplace=True)

C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\1544574886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp_data['GarageYrBlt'].fillna(exp_data['GarageYrBlt'].mean(),inplace=True)

In [824]:
exp_data.isnull().sum()

TotalBsmtSF     0
GarageArea      0
1stFlrSF        0
GarageYrBlt     0
2ndFlrSF        0
YearBuilt       0
GrLivArea       0
BedroomAbvGr    0
GarageCars      0
TotRmsAbvGrd    0
dtype: int64

In [825]:
exp_data.describe()

,TotalBsmtSF,GarageArea,1stFlrSF,GarageYrBlt,2ndFlrSF,YearBuilt,GrLivArea,BedroomAbvGr,GarageCars,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,1057.429452,472.980137,1162.626712,1978.506164,346.992466,1971.267808,1515.463699,2.866438,1.767123,6.517808
std,438.705324,213.804841,386.587738,23.994583,436.528436,30.202904,525.480383,0.815778,0.747315,1.625393
min,0.000000,0.000000,334.000000,1900.000000,0.000000,1872.000000,334.000000,0.000000,0.000000,2.000000
25%,795.750000,334.500000,882.000000,1962.000000,0.000000,1954.000000,1129.500000,2.000000,1.000000,5.000000
50%,991.500000,480.000000,1087.000000,1978.506164,0.000000,1973.000000,1464.000000,3.000000,2.000000,6.000000
75%,1298.250000,576.000000,1391.250000,2001.000000,728.000000,2000.000000,1776.750000,3.000000,2.000000,7.000000
max,6110.000000,1418.000000,4692.000000,2010.000000,2065.000000,2010.000000,5642.000000,8.000000,4.000000,14.000000

In [826]:
from datetime import datetime

In [827]:
exp_data['HouseAge']=datetime.now().year-exp_data['YearBuilt']
exp_data['GarageAge']=datetime.now().year-exp_data['GarageYrBlt']

C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\4181640657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp_data['HouseAge']=datetime.now().year-exp_data['YearBuilt']
C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\4181640657.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp_data['GarageAge']=datetime.now().year-exp_data['GarageYrBlt']

In [828]:
exp_data.head()

,TotalBsmtSF,GarageArea,1stFlrSF,GarageYrBlt,2ndFlrSF,YearBuilt,GrLivArea,BedroomAbvGr,GarageCars,TotRmsAbvGrd,HouseAge,GarageAge
0,856,548,856,2003.0,854,2003,1710,3,2,8,19,19.0
1,1262,460,1262,1976.0,0,1976,1262,3,2,6,46,46.0
2,920,608,920,2001.0,866,2001,1786,3,2,6,21,21.0
3,756,642,961,1998.0,756,1915,1717,3,3,7,107,24.0
4,1145,836,1145,2000.0,1053,2000,2198,4,3,9,22,22.0

In [829]:
exp_data.drop('YearBuilt',axis=1,inplace=True)
exp_data.drop('GarageYrBlt',axis=1,inplace=True)

C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\3843674426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp_data.drop('YearBuilt',axis=1,inplace=True)
C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\3843674426.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp_data.drop('GarageYrBlt',axis=1,inplace=True)

In [830]:
exp_data.corr()

,TotalBsmtSF,GarageArea,1stFlrSF,2ndFlrSF,GrLivArea,BedroomAbvGr,GarageCars,TotRmsAbvGrd,HouseAge,GarageAge
TotalBsmtSF,1.000000,0.486665,0.819530,-0.174512,0.454868,0.050450,0.434585,0.285573,-0.391452,-0.311700
GarageArea,0.486665,1.000000,0.489782,0.138347,0.468997,0.065253,0.882475,0.337822,-0.478954,-0.476498
1stFlrSF,0.819530,0.489782,1.000000,-0.202646,0.566024,0.127401,0.439317,0.409516,-0.281986,-0.227127
2ndFlrSF,-0.174512,0.138347,-0.202646,1.000000,0.687501,0.502901,0.183926,0.616423,-0.010308,-0.069315
GrLivArea,0.454868,0.468997,0.566024,0.687501,1.000000,0.521270,0.467247,0.825489,-0.199010,-0.221977
BedroomAbvGr,0.050450,0.065253,0.127401,0.502901,0.521270,1.000000,0.086106,0.676620,0.070651,0.060256
GarageCars,0.434585,0.882475,0.439317,0.183926,0.467247,0.086106,1.000000,0.362289,-0.537850,-0.482534
TotRmsAbvGrd,0.285573,0.337822,0.409516,0.616423,0.825489,0.676620,0.362289,1.000000,-0.095589,-0.140791
HouseAge,-0.391452,-0.478954,-0.281986,-0.010308,-0.199010,0.070651,-0.537850,-0.095589,1.000000,0.780555
GarageAge,-0.311700,-0.476498,-0.227127,-0.069315,-0.221977,0.060256,-0.482534,-0.140791,0.780555,1.000000

In [831]:
exp_data['SalePrice']=main_data_labels

C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\3532448585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp_data['SalePrice']=main_data_labels

In [832]:
from sklearn.model_selection import train_test_split
X,y=train_test_split(exp_data,test_size=0.05)

In [833]:
print ("X {} and y {}".format(len(X),len(y)))

X 1387 and y 73

In [834]:
X_data=X.drop('SalePrice',axis=1)

In [835]:
X_label=X['SalePrice']

In [836]:
from sklearn.linear_model import LinearRegression

In [837]:
model=LinearRegression()

In [838]:
model.fit(X_data,X_label)

LinearRegression()

In [839]:
some_data=X_data[:10]

In [840]:
some_labels=X_label[:10]

In [841]:
preds=model.predict(some_data)

In [842]:
preds

array([ 84749.1440656 , 242057.45722147, 194259.54324656, 118375.18817394,
       150192.84822617, 186915.15548906, 140134.05866898, 291574.49486095,
        85422.98951164, 148926.7097213 ])

In [843]:
from sklearn.metrics import mean_squared_error

In [844]:
np.sqrt(mean_squared_error(some_labels,preds))

28016.629639551622

In [845]:
y_data=y.drop('SalePrice',axis=1)

In [846]:
y_label=y['SalePrice']

In [847]:
predictions=model.predict(y_data)

In [848]:
np.sqrt(mean_squared_error(y_label,predictions))

35154.06122539496

In [849]:
# submission = pd.DataFrame()
# submission['Id'] = test_ids
# submission['SalePrice'] = preds

In [850]:
# # Save the submission file
# from pathlib import Path  
# filepath = Path('submission.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)
# submission.to_csv('submission.csv', sep=',', index=False)

In [851]:
test_data=pd.read_csv("test.csv")
Test_High_Correlation_Columns=High_Correlation_Columns.copy()

In [852]:
test_ids=test_data['Id']

In [853]:

test_exp_data=test_data[list(Test_High_Correlation_Columns)]

In [854]:
exp_data.columns

Index(['TotalBsmtSF', 'GarageArea', '1stFlrSF', '2ndFlrSF', 'GrLivArea',
       'BedroomAbvGr', 'GarageCars', 'TotRmsAbvGrd', 'HouseAge', 'GarageAge',
       'SalePrice'],
      dtype='object')

In [855]:
test_exp_data['HouseAge']=datetime.now().year-test_exp_data['YearBuilt']
test_exp_data['GarageAge']=datetime.now().year-test_exp_data['GarageYrBlt']
test_exp_data.drop('YearBuilt',axis=1,inplace=True)
test_exp_data.drop('GarageYrBlt',axis=1,inplace=True)

C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\1495760842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_exp_data['HouseAge']=datetime.now().year-test_exp_data['YearBuilt']
C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\1495760842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_exp_data['GarageAge']=datetime.now().year-test_exp_data['GarageYrBlt']
C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\1495760842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_exp_data.drop('YearBuilt',axis=1,inplace=True)
C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\1495760842.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_exp_data.drop('GarageYrBlt',axis=1,inplace=True)

In [856]:
for i , j in zip (test_exp_data.columns,test_exp_data.isnull().sum()):
    if j>0:
        test_exp_data[i].fillna(exp_data[i].mean(),inplace=True)

C:\Users\Hp\AppData\Local\Temp\ipykernel_5768\979209537.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_exp_data[i].fillna(exp_data[i].mean(),inplace=True)

In [857]:
pred=model.predict(test_exp_data)

In [858]:
submission = pd.DataFrame()
submission['Id'] = test_ids
submission['SalePrice'] = pred

In [859]:
# Save the submission file
from pathlib import Path  
filepath = Path('submission.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
submission.to_csv('submission.csv', sep=',', index=False)